body, p, h1, ul, li, blackquote {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Volkorn", Georgia, serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}